
<section class="jumbotron visible-xs hidden-md hidden-lg hidden-sm">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>Green Team Landscaping</h3>

        <br>
        <div class="row">
          <div class="col-xs-12 coupon-box coupon-1">
            <p>$25 Off Lawn Maintenance</p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 coupon-box coupon-2">
            <p>$50 Off Spring Mulch</p>
          </div>
        </div>
        <hr/>
        <h4>Sign up today for your 2015 savings!</h4>
        <%= render 'static_pages/signup_form' %>
      </div>
    </div>
  </div>
</section>

<section class="jumbotron hidden-xs visible-md-block visible-lg-block visible-sm-block">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1>Green Team Landscaping</h1>

        <br>
        <div class="row">
          <div class="col-12">
            <div class="col-md-5 col-md-offset-1 coupon-box coupon-1">
              <p>$25 Off Lawn Maintenance</p>
            </div>
            <div class="col-md-5 coupon-box coupon-2" style="margin-left: 15px;">
              <p>$50 Off Spring <br>Mulch</p>
            </div>
          </div>
        </div>
        <hr/>

        <h4>Sign up today for your 2015 savings!</h4>
        <%= render 'static_pages/signup_form' %>
      </div>
    </div>
  </div>
</section>
