
<section class="jumbotron visible-xs hidden-md hidden-lg hidden-sm">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>Green Team Landscaping</h3>
        <h5>Sign up for 50% off your first cut</h5>
        <br>
        <%= render 'static_pages/signup_form' %>
      </div>
    </div>
  </div>
</section>

<section class="jumbotron hidden-xs visible-md-block visible-lg-block visible-sm-block">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1>Green Team Landscaping</h1>
        <br>
        <h4>Sign up for 50% off your first cut</h4>
        <br>
        <%= render 'static_pages/signup_form' %>
      </div>
    </div>
  </div>
</section>
